/*鼠标样式*/
/* * {
  cursor: none;
} */

/* #g-pointer-1,
#g-pointer-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  background: #999;
  border-radius: 50%;
  background-color: #ff0000;
  mix-blend-mode: normal;
  z-index: 100;
  pointer-events: none;
  cursor: none; */
  /* transform: translate(-50%,-50%); */
/* } */

/* #g-pointer-2 {
  width: 24px;
  height: 24px;
  background: #ff0000;
  transition: .2s ease-out;
  mix-blend-mode: darken;
  z-index: 100;
} */

/*鼠标样式*/


a {
  /* 初始状态下，字体正常 */
  transition: filter 0.5s ease-in-out;
  /* 添加过渡效果 */
  filter: blur(0);
  /* 初始状态下不模糊 */
}

/* 鼠标悬停时，字体模糊并进行淡入动画 */
a:hover {
  filter: blur(4px);
  /* 使用 filter 属性使字体模糊，可以根据需要调整模糊程度 */
  animation: none;
  /* 移除淡入动画，以确保模糊效果保持一致 */
}