@media screen and (min-width: 720px) {
.container {  display: grid;
    grid-template-columns: 3% 12% 10% 10% 13.5% 3% 13.5% 10% 10% 12% 3%;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . . . . . . . ."
      ". title title title title title title title . . ."
      ". subtitle subtitle subtitle subtitle subtitle subtitle . . . ."
      ". mp4 mp4 mp4 mp4 mp4 mp4 mp4 mp4 mp4 ."
      ". image1 image1 image1 image1 image1 image1 image1 image1 image1 ."
      ". image2 image2 image2 image2 image2 image2 image2 image2 image2 ."
      ". txt1 txt1 txt1 txt1 txt1 txt1 txt1 . . ."
      ". img2 img2 img2 img2 img2 img2 img2 img2 img2 ."
      ". txt3 txt3 txt3 txt3 txt3 txt3 txt3 . . ."
      ". img5 img5 img5 img5 img5 img5 img5 img5 img5 ."
      ". . . . . . txt4 . txt5 txt5 ."
      ". . . . . . . . txt6 txt6 ."
      ". sen sen sen sen sen sen sen sen sen ."
      ". txt7 txt7 txt7 . . . . txt8 txt8 ."
      ;
}
  
.title { 
  grid-area: title; 
}

.subtitle { 
  grid-area: subtitle;
}

.mp4 { grid-area: mp4; }

.txt1{ grid-area: txt1; }

.image1 { grid-area: image1; }

.image2 { grid-area: image2; }

.img2 { grid-area: img2; }

.img5 { grid-area: img5; }

.txt3 { grid-area: txt3; }

.txt4 { grid-area: txt4; }

.txt5 { grid-area: txt5; }

.txt6 { grid-area: txt6; }

.sen { grid-area: sen; }

.txt7 { grid-area: txt7; }

.txt8 { grid-area: txt8; }

::selection {
  background:#c3c3c3; 
  color:#000000;
}

::-moz-selection {
  background:#c3c3c3; 
  color:#000000;
}

::-webkit-selection {
  background:#d3d3d3; 
  color:#ffffff;
}

body{
  font-family: Helvetica, sans-serif;
}

.title{
  margin-top: 30vh;  
}

.subtitle{
  margin-top: 15vh;  
  font-size: 20px;
}

video{
  width: 93vw;
  height: auto;
  object-fit:cover;
  margin-top: 30vh;
  margin-bottom: 80px;
}

.mainTitle{
  font-size: 100px;
  line-height: 90px;
  font-weight: 300;
}

.smTitle{
  font-size: 20px;
  color: #aaaaaa;
}

.image1 .overview img{
  float: left;
  width: 93vw;
  height: auto;
  /* margin-top: 30vh; */
  margin-bottom: 80px;
}

.image2 .overview img{
  float: left;
  width: 93vw;
  height: auto;
  margin-bottom: 80px;
}

.txt,.txt3{
  font-size: 60px;
  line-height: 70px;
}

.img2 img {
  width: 93vw;
  height: auto;
  margin-top: 0px;
  margin-bottom: 80px;
}

.mp4{
  margin-top: 0px;
}

.img5 img {
  margin-top: 80px;
  margin-bottom: 80px;
  width: 93vw;
  height: auto;
}

.txt1 p{
  margin-top: 0;
}

.txt4 p{
  margin-top: 80px;
  font-size: 20px;
  line-height: 40px;
  color: #aaaaaa;
  margin-bottom: 80px;
}

.txt5 p{
  margin-top: 80px;
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 80px;
}

.txt6 p{
  margin-top: 80px;
  font-size: 40px;
  line-height: 60px;
  margin-bottom: 40px;
}

.txt6 p a{
  text-decoration: none;
  color: black;
}

.txt7 p{
  font-family: Helvetica, sans-serif;
  margin-top: 0px;
  font-size: 10px;
  color: #aaaaaa;
  margin-bottom: 40px;
  word-spacing: 20px;
}

.txt7 p a{
  font-family: Helvetica, sans-serif;
  text-decoration: none;
  color: #474747;
}

.txt8 p{
  font-family: Helvetica, sans-serif;
  margin-top: 0px;
  font-size: 10px;
  color: #aaaaaa;
  margin-bottom: 40px;
}
}

@media screen and (max-width: 719px){
  .container {  display: grid;
    grid-template-columns: 1% 14% 10% 10% 13.5% 3% 13.5% 10% 10% 14% 1%;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . . . . . . . ."
      ". title title title title title title title title title ."
      ". subtitle subtitle subtitle subtitle subtitle subtitle subtitle subtitle subtitle ."
      ". mp4 mp4 mp4 mp4 mp4 mp4 mp4 mp4 mp4 ."
      ". image1 image1 image1 image1 image1 image1 image1 image1 image1 ."
      ". image2 image2 image2 image2 image2 image2 image2 image2 image2 ."
      ". txt1 txt1 txt1 txt1 txt1 txt1 txt1 txt1 txt1 ."
      ". img2 img2 img2 img2 img2 img2 img2 img2 img2 ."
      ". txt3 txt3 txt3 txt3 txt3 txt3 txt3 txt3 txt3 ."
      ". img5 img5 img5 img5 img5 img5 img5 img5 img5 ."
      ". txt4 txt4 txt4 txt4 . txt5 txt5 txt5 txt5 ."
      ". txt6 txt6 . . . . . . . ."
      ". sen sen sen sen sen sen sen sen sen ."
      ". txt7 txt7 txt7 txt7 txt7 txt7 txt7 txt7 txt7 ."
      ;
}
  
.title { 
  grid-area: title; 
}

.subtitle { 
  grid-area: subtitle;
}

.mp4 { grid-area: mp4; }

.txt1{ grid-area: txt1; }

.image1 { grid-area: image1; }

.image2 { grid-area: image2; }

.img2 { grid-area: img2; }

.img5 { grid-area: img5; }

.txt3 { grid-area: txt3; }

.txt4 { grid-area: txt4; }

.txt5 { grid-area: txt5; }

.txt6 { grid-area: txt6; }

.sen { grid-area: sen; }

.txt7 { grid-area: txt7; }

.txt8 { grid-area: txt8; }

::selection {
  background:#c3c3c3; 
  color:#000000;
}

::-moz-selection {
  background:#c3c3c3; 
  color:#000000;
}

::-webkit-selection {
  background:#d3d3d3; 
  color:#ffffff;
}

body{
  font-family: Helvetica, sans-serif;
}

.title{
  margin-top: 10vh;  
}

.subtitle{
  margin-top: 5vh;  
  font-size: 20px;
}

video{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 94vw;
  height: auto;
  object-fit:cover;
}

.mainTitle{
  font-size: 100px;
  line-height: 90px;
  font-weight: 300;
}

.smTitle{
  font-size: 20px;
  color: #aaaaaa;
}

.image1 .overview img{
  float: left;
  width: 94vw;
  height: auto;
  margin-bottom: 20px;
}

.image2 .overview img{
  float: left;
  width: 94vw;
  height: auto;
  margin-bottom: 20px;
}

.txt,.txt3{
  font-size: 20px;
}

.img2 img {
  width: 94vw;
  height: auto;
  margin-top: 0px;
  margin-bottom: 20px;
}

.mp4{
  margin-top: 0px;
}

.img5 img {
  margin-top: 20px;
  width: 94vw;
  height: auto;
}

.txt1 p{
  margin-top: 0;
}

.txt4 p{
  margin-top: 80px;
  font-size: 20px;
  line-height: 40px;
  color: #aaaaaa;
  margin-bottom: 80px;
}

.txt5 p{
  margin-top: 80px;
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 80px;
}

.txt6 p{
  margin-top: 80px;
  font-size: 40px;
  line-height: 60px;
  margin-bottom: 20px;
}

.txt6 p a{
  text-decoration: none;
  color: #0ba14c;
}

.sen{
  display: none;
}

.txt7 p{
  margin-top: 20px;
  font-size: 40px;
  line-height: 48px;
  color: #aaaaaa;
  margin-bottom: 20px;
  display: none;
}

.txt7 p a{
  text-decoration: none;
  color: #474747;
}

.txt8 p{
  margin-top: 0px;
  font-size: 10px;
  color: #aaaaaa;
  margin-bottom: 40px;
  display: none;
}
}